<!doctype html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>益禾堂</title>
  <meta name="description" content="Sidebar Transitions: Transition effects for off-canvas views" />
  <meta name="keywords" content="transition, off-canvas, navigation, effect, 3d, css3, smooth" />
  <meta name="author" content="Codrops" />
  <link rel="shortcut icon" href="../favicon.ico">
  <link rel="stylesheet" type="text/css" href="css/normalize.css" />
  <link rel="stylesheet" type="text/css" href="css/demo.css" />
  <link rel="stylesheet" type="text/css" href="css/icons.css" />
  <link rel="stylesheet" type="text/css" href="css/component.css" />
  <style>
    .top-banner {
      z-index: 999;
      text-align: right;
      height: 30px !important;
      line-height: 30px !important;
    }

    .top-banner a {
      color: green !important;
      text-shadow: none;
    }

    .column {
      margin: 60px auto;
      float: none;
      text-align: center;
      width: 75%;
      min-height: 100px;
    }

  </style>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B"
    crossorigin="anonymous">
  <script src="js/modernizr.custom.js"></script>
  <!-- <link rel="stylesheet" href="http://dreamsky.github.io/main/blog/common/init.css"> -->
  <!-- <script src="http://dreamsky.github.io/main/blog/common/jquery.min.js"></script> -->
  <!-- <script src="http://dreamsky.github.io/main/blog/common/init.js"></script> -->

  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>

  <!-- axios -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>

<body>
  <div id="st-container" class="st-container">
    <div class="container">

      <nav class="st-menu st-effect-12" id="menu-12">
        <h2 class="icon icon-stack">益禾堂</h2>
        <ul>
          <li>
            <a class="icon icon-data" href="home.html">主页</a>
          </li>
          <li>
            <a class="icon icon-location" href="login.html">后台管理</a>
          </li>
          <li>
            <a class="icon icon-study" href="statistics.html">查看业绩</a>
          </li>

        </ul>
      </nav>
    </div>


    <!-- content push wrapper -->
    <div class="st-pusher">


      <div class="st-content">
        <div class="st-content-inner">


          <div class="jumbotron jumbotron-fluid bg-success p-5">
            <div class="container">
              <!-- <h1  class="display-3 font-weight-bold text-white">益禾堂</h1> -->
              <div class="main clearfix">
                <div id="st-trigger-effects" class="column">
                  <button data-effect="st-effect-12" type="button" class="btn btn-success">
                    <h1 class="display-3 font-weight-bold text-white">益禾堂</h1>
                  </button>
                </div>
                <!-- /st-content-inner -->
              </div>
              <!-- /st-content -->
            </div>
            <!-- /st-pusher -->
            <p class="lead text-right text-white mr-5">火遍大街小巷的奶茶</p>
          </div>
        </div>

        <div id="app" class="container-fluid">

          <div class="row">
            <!-- 产品 -->
            <!-- 型号：大杯、中杯 -->
            <!-- 温度 -->
            <!-- 糖 -->
            <!-- 配料 -->
            <div class="col-lg-5 col-sm-12">
              <form class="px-3">
                <!-- 产品 -->
                <div class="form-group form-control">
                  <label class="">饮品</label>
                  <select class="form-control" v-model="drink">
                    <option v-for="d in drinks" :value='d'>{{d.name}}</option>
                  </select>
                </div>

                <div class="form-group form-control">
                  <label class="">杯型</label>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-lg m-3" v-for="s in size" v-for="d in drinks"
                      @click='onSize(s)' v-bind:class="[s === sizeChecked ? 'active' : '']">{{s}}</button>
                  </div>
                </div>

                <!-- 甜度 -->
                <div class="form-group form-control">
                  <label class="">甜度</label>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-lg m-3" v-for="s in suger" @click='onSugar(s)'
                      v-bind:class="[s === suagerChecked ? 'active' : '']">{{s}}</button>
                  </div>
                </div>
                <!-- 温度 -->
                <div class="form-group form-control">
                  <label class="">温度</label>
                  <div>
                    <button type="button" class="btn btn-outline-danger btn-lg m-3" v-for="t in temp" @click='onTemp(t)'
                      v-bind:class="[t === tempChecked ? 'active' : '']">{{t}}</button>
                  </div>
                </div>

                <!-- 配料 -->
                <div class="form-group form-control">
                  <label for="">配料</label>
                  <div>


                    <div class="form-check form-check-inline" v-for="o in opt">
                      <label class="form-check-label">
                        <input class="form-check-input" type="checkbox" :value="o" v-model="optSelected"> {{o}}
                      </label>
                    </div>
                  </div>
                </div>


                <button @click='sendOrder()' type="button" class="btn btn-success btn-lg btn-block">下单</button>

              </form>
            </div>
            <div class="col-lg-7 col-sm-12">
              <h3>{{drink.name}} - {{sizeChecked}} - {{suagerChecked}} - {{tempChecked}} - {{optSelected}}</h3>
              <table class="table">
                <thead>
                  <tr>
                    <th>饮品</th>
                    <th>规格</th>
                    <th>糖</th>
                    <th>温度</th>
                    <th>配料</th>
                    <th>价格</th>
                    <th>出货</th>
                  </tr>
                </thead>
                <tbody>
                  <tr v-for="i in orders" v-bind:class="{'text-danger finish':i.finish}">
                    <!-- <tr v-for="i in orders" v-bind:class="[i.finish?'text-danger finish':'']">这种要用中括号 -->
                    <td>{{i.drink.name}}</td>
                    <td>{{i.size}}</td>
                    <td>{{i.sugar}}</td>
                    <td>{{i.temp}}</td>
                    <td>
                      <span v-for="o in i.opt" class="badge badge-pill badge-primary ml-2">{{o}}</span>
                    </td>

                    <td>
                      <h3>
                        <span class="badge badge-pill badge-danger ">{{i.price}}</span>
                      </h3>
                    </td>
                    <td>
                      <button type="button" class="btn btn-primary btn-lg btn-block" @click="finish(i)">出货</button>
                    </td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>






      </div>
    </div>


  </div>



  <script>
    let vm = new Vue({
      el: '#app',
      data: {
        drink: {
          "name": "芒果牛奶",
          "price1": "10",
          "price2": "11",
          "price3": "12"
        },

        drinks: [],
        size: ['小杯', '中杯', '大杯'],
        sizeChecked: '中杯',
        temp: ['常温', '加冰', '去冰', '加热'],
        suger: ['甜', '半糖', '少糖', '无糖'],
        tempChecked: '常温',
        suagerChecked: '无糖',
        opt: ['红豆', '珍珠', '椰果', '牛奶'],
        optSelected: [],
        opts: '',
        orders: [],
        price: 0,
        n: 0,
        pname: '',


      },
      methods: {
        onSize(s) {
          this.sizeChecked = s;




          // if(s.equals("小杯")){
          //   this.price -= 1;
          //   console.log(this.price);

          // }
          // this.price = this.drink.price1;
          // console.log(this.price);

        },
        onSugar(s) {
          this.suagerChecked = s;
        },
        onTemp(t) {
          this.tempChecked = t;
        },
        onOpt(o) {
          for (let i = 0; i < 4; i++) {
            this.optSelected[i] = o;
            // console.log(this.optSelected.length());  
            // this.price += this.optSelected.length;
            // this.opts += optSelected[i];
          }
        },
        sendOrder() {
          // 存入数组的第一个位置
          for (let i = 0; i < this.optSelected.length; i++) {
            // this.optSelected[i] = o;
            // console.log(this.optSelected.length());  
            // this.price += this.optSelected.length;
            this.opts += this.optSelected[i] + ' ';
          }


          console.log(this.opts);

          // console.log(this.drink.price1);

          if (this.sizeChecked == ("小杯")) {
            price = this.drink.price1;
            console.log(price);
            n = this.optSelected.length;
            // console.log(n);

            price = parseInt(price) + parseInt(n);

            console.log(price);
          } else if (this.sizeChecked == ("中杯")) {
            price = this.drink.price2;
            // console.log(price);
            n = this.optSelected.length;
            // console.log(n);
            price = parseInt(price) + parseInt(n);

            // console.log(price);
          } else if (this.sizeChecked == ("大杯")) {
            price = this.drink.price3;
            console.log(price);
            n = this.optSelected.length;
            // console.log(n);

            price = parseInt(price) + parseInt(n);

            // console.log(price);
            // console.log(this.opts);

          }




          this.orders.unshift({
            drink: this.drink,
            size: this.sizeChecked,
            sugar: this.suagerChecked,
            price: price,
            temp: this.tempChecked,
            opt: this.optSelected,
            finish: false
          });



          axios.post('/api/v1/tea/order', {
              pname: this.drink.name,
              size: this.sizeChecked,
              sugar: this.suagerChecked,
              temp: this.tempChecked,
              opt: this.opts,
              price: price,

            })
            .then((response) => {
              console.log(response.data);

              // console.log(this.drink.name);


            })
            .catch((error) => {
              console.log('error');

            })

          this.opts = "";


        },
        finish(item) {

          item.finish = true;
        }
      },

      mounted: function () {
        // 网络异步请求
        axios.get('/api/v1/tea/product')
          .then((response) => {
            console.log(response.data);

            this.drinks = response.data;
          })
          .catch(() => {
            console.log('出错了')
          });
      },




    })
  </script>






  <!-- Optional JavaScript -->
  <!-- jQuery first, then Popper.js, then Bootstrap JS -->
  <script src="js/classie.js"></script>
  <script src="js/sidebarEffects.js"></script>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
    crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
    crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/js/bootstrap.min.js" integrity="sha384-o+RDsa0aLu++PJvFqy8fFScvbHFLtbvScb8AjopnFD+iEQ7wo/CG0xlczd+2O/em"
    crossorigin="anonymous"></script>
</body>

</html>